<a href="https://colab.research.google.com/github/IjeomaOdoko/Federal-Debt-GDP-and-Oil-Prices/blob/master/Federal_Debt%2C_Population_and_GDP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

All datasets are going to use Q1 or March as Fiscal Year End with the following exceptions: 

* Data not provided for 2009 March Federal Debt, Sep 2009 value assumed for that year. 

Datasets used are as follows: 

Statistics Canada. [Table 36-10-0104-01 Gross domestic product, expenditure-based, Canada, quarterly (x 1,000,000)](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3610010401&pickMembers%5B0%5D=2.2&pickMembers%5B1%5D=3.1&cubeTimeFrame.startMonth=01&cubeTimeFrame.startYear=1961&cubeTimeFrame.endMonth=04&cubeTimeFrame.endYear=2020&referencePeriods=19610101%2C20200401)

Statistics Canada. [Table 17-10-0009-01 Population estimates, quarterly](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1710000901&cubeTimeFrame.startMonth=01&cubeTimeFrame.startYear=1960&cubeTimeFrame.endMonth=04&cubeTimeFrame.endYear=2020&referencePeriods=19600101%2C20200401)


Statistics Canada. [Table 10-10-0048-01 Federal government debt, for fiscal year ending March 31](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1010004801&cubeTimeFrame.startYear=1960&cubeTimeFrame.endYear=2008&referencePeriods=19600101%2C20080101)

Statistics Canada.[Table 10-10-0002-01 Central government debt (x 1,000,000)](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1010000201&cubeTimeFrame.startMonth=01&cubeTimeFrame.startYear=2009&cubeTimeFrame.endMonth=05&cubeTimeFrame.endYear=2020&referencePeriods=20090101%2C20200501)

# Import Libraries

In [ ]:
import pandas as pd
import numpy as np

from google.colab import files

# Load Datasets

In [ ]:
uploaded = files.upload()

Saving 3610010401-eng.csv to 3610010401-eng.csv

In [ ]:
uploaded_1 = files.upload()

Saving 1710000901-eng.csv to 1710000901-eng.csv

In [ ]:
uploaded_2 = files.upload()

Saving 1010004801-eng.csv to 1010004801-eng.csv

In [ ]:
uploaded_3 = files.upload()

Saving 10100002.csv to 10100002.csv

In [ ]:
import io

canadian_gdp= pd.read_csv(io.StringIO(uploaded['3610010401-eng.csv'].decode('utf-8')), header=7, index_col='Estimates').dropna(how='any')

canadian_pop_estimates= pd.read_csv(io.StringIO(uploaded_1['1710000901-eng.csv'].decode('utf-8')), header=4, index_col='Geography').dropna(how='any')

canadian_fed_debt_archived= pd.read_csv(io.StringIO(uploaded_2['1010004801-eng.csv'].decode('utf-8')), header=4, index_col='Government debt').dropna(how='any')

canadian_fed_debt_new=pd.read_csv(io.StringIO(uploaded_3['10100002.csv'].decode('utf-8')), header=0,  parse_dates=['REF_DATE'])

# Transform GDP Dataset

In [ ]:
canadian_gdp.head()

                                        Q1 1961 Q2 1961  ...    Q1 2020    Q2 2020
Estimates                                                ...
Final consumption expenditure            32,125  32,732  ...  1,808,160  1,624,480
Household final consumption expenditure  25,196  25,684  ...  1,274,724  1,100,516
Goods                                    15,260  15,664  ...    553,384    498,720
Durable goods                             2,828   2,984  ...    153,288    128,244
Semi-durable goods                        3,120   3,108  ...     79,760     67,764

[5 rows x 238 columns]

In [ ]:
   canadian_gdp.dtypes

Q1 1961    object
Q2 1961    object
Q3 1961    object
Q4 1961    object
Q1 1962    object
            ...
Q2 2019    object
Q3 2019    object
Q4 2019    object
Q1 2020    object
Q2 2020    object
Length: 238, dtype: object

In [ ]:
GDP = canadian_gdp.loc['Gross domestic product at market prices']

GDP

Q1 1961       40,672
Q2 1961       41,568
Q3 1961       42,680
Q4 1961       43,476
Q1 1962       44,696
             ...
Q2 2019    2,305,784
Q3 2019    2,312,064
Q4 2019    2,335,700
Q1 2020    2,275,320
Q2 2020    1,989,784
Name: Gross domestic product at market prices, Length: 238, dtype: object

In [ ]:
# check class/type
print(type(GDP))

<class 'pandas.core.series.Series'>

In [ ]:
# remove commas to be able to change to numeric later
GDP = GDP.str.replace(',','', regex=True)

In [ ]:
# convert series to dataframe

GDP_year= pd.DataFrame(GDP, columns=['Gross domestic product at market prices'])
GDP_year.head()

        Gross domestic product at market prices
Q1 1961                                   40672
Q2 1961                                   41568
Q3 1961                                   42680
Q4 1961                                   43476
Q1 1962                                   44696

In [ ]:
GDP_year.reset_index(inplace=True)

GDP_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 2 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   index                                    238 non-null    object
 1   Gross domestic product at market prices  238 non-null    object
dtypes: object(2)
memory usage: 3.8+ KB

In [ ]:
# change dtypes to integer and string

GDP_year['Gross domestic product at market prices'] = GDP_year['Gross domestic product at market prices'].astype('int64')
GDP_year['index'] = GDP_year['index'].astype('string')

GDP_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 2 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   index                                    238 non-null    string
 1   Gross domestic product at market prices  238 non-null    int64
dtypes: int64(1), string(1)
memory usage: 3.8 KB

In [ ]:
## add columns for Quarter and Year by splitting Quarter_Year Column

splitframes= GDP_year['index'].str.split(' ', n=1, expand=True)

GDP_year['Quarter'] = splitframes[0]
GDP_year['Year'] = splitframes[1].astype('int64')

In [ ]:
# drop all rows where Quarter is not Q1

GDP_year_Q1 = GDP_year.loc[GDP_year['Quarter'] == 'Q1']

GDP_year_Q1.head()

      index  Gross domestic product at market prices Quarter  Year
0   Q1 1961                                    40672      Q1  1961
4   Q1 1962                                    44696      Q1  1962
8   Q1 1963                                    47668      Q1  1963
12  Q1 1964                                    52652      Q1  1964
16  Q1 1965                                    57364      Q1  1965

In [ ]:
# drop quarter_year, and quarter columns
GDP_year_df = GDP_year_Q1.drop(columns=['index','Quarter'], inplace=False).set_index('Year')

GDP_year_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1961 to 2020
Data columns (total 1 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Gross domestic product at market prices  60 non-null     int64
dtypes: int64(1)
memory usage: 960.0 bytes

In [ ]:
GDP_year_df.rename(columns={'Gross domestic product at market prices': "Gross domestic product at market prices (million dollars)"}, inplace=True)
GDP_year_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1961 to 2020
Data columns (total 1 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Gross domestic product at market prices (million dollars)  60 non-null     int64
dtypes: int64(1)
memory usage: 960.0 bytes

# Transform Pop Estimates Dataset

In [ ]:
canadian_pop_estimates.head()

                              Q1 1960     Q2 1960  ...     Q1 2020     Q2 2020
Geography                                          ...
Canada                     17,710,000  17,793,000  ...  37,894,799  37,971,020
Newfoundland and Labrador     445,000     447,000  ...     521,365     520,437
Prince Edward Island          103,000     103,000  ...     158,158     158,717
Nova Scotia                   722,000     725,000  ...     977,457     978,274
New Brunswick                 585,000     587,000  ...     779,993     780,890

[5 rows x 242 columns]

In [ ]:
canadian_pop_estimates.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, Canada to Nunavut 5
Columns: 242 entries, Q1 1960 to Q2 2020
dtypes: object(242)
memory usage: 26.6+ KB

In [ ]:
# select only data for Canada
Population=canadian_pop_estimates.loc['Canada']

#check class/type
print(type(Population))

<class 'pandas.core.series.Series'>

In [ ]:
Population

Q1 1960    17,710,000
Q2 1960    17,793,000
Q3 1960    17,909,000
Q4 1960    18,009,000
Q1 1961    18,092,000
              ...
Q2 2019    37,408,205
Q3 2019    37,589,262
Q4 2019    37,797,496
Q1 2020    37,894,799
Q2 2020    37,971,020
Name: Canada, Length: 242, dtype: object

In [ ]:
Pop = Population.str.replace(',','', regex=True)

In [ ]:
# convert series to dataframe

Pop_year= pd.DataFrame(Pop)
Pop_year.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242 entries, Q1 1960 to Q2 2020
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Canada  242 non-null    object
dtypes: object(1)
memory usage: 13.8+ KB

In [ ]:
## inspect 
Pop_year.head()

           Canada
Q1 1960  17710000
Q2 1960  17793000
Q3 1960  17909000
Q4 1960  18009000
Q1 1961  18092000

In [ ]:
Pop_year.reset_index(inplace=True)

In [ ]:
# rename columns 
Pop_year.rename(columns={'index': 'Quarter_Year', 'Canada': 'Population Estimates'}, inplace=True)

In [ ]:
Pop_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Quarter_Year          242 non-null    object
 1   Population Estimates  242 non-null    object
dtypes: object(2)
memory usage: 3.9+ KB

In [ ]:
# change dtypes to string and integer

Pop_year.loc[:,'Quarter_Year'] = Pop_year.loc[:,'Quarter_Year'].astype('string')
Pop_year['Population Estimates'] = Pop_year['Population Estimates'].astype('int64')

Pop_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Quarter_Year          242 non-null    string
 1   Population Estimates  242 non-null    int64
dtypes: int64(1), string(1)
memory usage: 3.9 KB

In [ ]:
Pop_year.head()

  Quarter_Year  Population Estimates
0      Q1 1960              17710000
1      Q2 1960              17793000
2      Q3 1960              17909000
3      Q4 1960              18009000
4      Q1 1961              18092000

In [ ]:
## add columns for Quarter and Year by splitting Quarter_Year Column

splitframe= Pop_year['Quarter_Year'].str.split(' ', n=1, expand=True)

Pop_year['Quarter'] = splitframe[0]
Pop_year['Year'] = splitframe[1].astype('int64')

In [ ]:
Pop_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Quarter_Year          242 non-null    string
 1   Population Estimates  242 non-null    int64
 2   Quarter               242 non-null    string
 3   Year                  242 non-null    int64
dtypes: int64(2), string(2)
memory usage: 7.7 KB

In [ ]:
Pop_year.head()

  Quarter_Year  Population Estimates Quarter  Year
0      Q1 1960              17710000      Q1  1960
1      Q2 1960              17793000      Q2  1960
2      Q3 1960              17909000      Q3  1960
3      Q4 1960              18009000      Q4  1960
4      Q1 1961              18092000      Q1  1961

In [ ]:
# drop all rows where Quarter is not Q1

Pop_year_Q1 = Pop_year.loc[Pop_year['Quarter'] == 'Q1']

Pop_year_Q1.head()

   Quarter_Year  Population Estimates Quarter  Year
0       Q1 1960              17710000      Q1  1960
4       Q1 1961              18092000      Q1  1961
8       Q1 1962              18442000      Q1  1962
12      Q1 1963              18787000      Q1  1963
16      Q1 1964              19142000      Q1  1964

In [ ]:
# drop quarter_year, and quarter columns
Pop_year_df = Pop_year_Q1.drop(columns=['Quarter_Year','Quarter'], inplace=False).set_index('Year')

Pop_year_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 1960 to 2020
Data columns (total 1 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Population Estimates  61 non-null     int64
dtypes: int64(1)
memory usage: 976.0 bytes

In [ ]:
#Pop_year_df.columns = Pop_year_df.columns.get_level_values(0)

# Transform Debt Datasets for Net Debt

## Start with the Archived Datasets from 1960 to 2008

In [ ]:
canadian_fed_debt_archived.head()

                                 1960    1961  ...     2007     2008
Government debt                                ...
Gross federal government debt  20,399  20,864  ...  618,765  594,390
Unmatured debt                 15,890  16,068  ...  419,647  394,734
Marketable bonds               10,628  10,578  ...  264,664  259,998
Treasury bills                  2,125   1,935  ...  134,100  117,000
Notes and loans                     0       0  ...    3,966    3,626

[5 rows x 49 columns]

In [ ]:
archived_fed_debt = canadian_fed_debt_archived.loc[['Net federal government financial debt', 'Gross federal government debt']]

In [ ]:
# check class/type
print(type(archived_fed_debt))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# remove commas to be able to change to numeric later
fed_debt_archived = archived_fed_debt.replace(',','', regex=True)
fed_debt_archived.head()

                                        1960   1961  ...    2007    2008
Government debt                                      ...
Net federal government financial debt  12047  12394  ...  508122  490412
Gross federal government debt          20399  20864  ...  618765  594390

[2 rows x 49 columns]

In [ ]:
# create series for each government debt type
fed_net_debt_arc = fed_debt_archived.loc['Net federal government financial debt'].astype('float')
fed_gross_debt_arc = fed_debt_archived.loc['Gross federal government debt'].astype('float')

In [ ]:
# confirm series
print(type(fed_net_debt_arc))
print(type(fed_gross_debt_arc))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [ ]:
# convert series to dataframe

fed_debt_arc_year= pd.concat([fed_net_debt_arc, fed_gross_debt_arc], axis=1).reset_index()
fed_debt_arc_year.info()

  index  Net federal government financial debt  Gross federal government debt
0  1960                                12047.0                        20399.0
1  1961                                12394.0                        20864.0
2  1962                                13378.0                        22775.0
3  1963                                14079.0                        24494.0
4  1964                                15262.0                        26212.0

In [ ]:
# rename columns
fed_debt_arc_year.rename(columns={'Net federal government financial debt':'Net federal government financial debt (million dollars)', 'Gross federal government debt':'Gross federal government debt (million dollars)', 'index': 'Year'}, inplace=True)

fed_debt_arc_year['Year'] = fed_debt_arc_year['Year'].astype('int64')

fed_debt_arc_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Year                                                     49 non-null     int64
 1   Net federal government financial debt (million dollars)  49 non-null     float64
 2   Gross federal government debt (million dollars)          49 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.3 KB

In [ ]:
fed_debt_arc_year.set_index('Year', inplace=True)
fed_debt_arc_year.head()

      Net federal government financial debt (million dollars)  Gross federal government debt (million dollars)
Year
1960                                            12047.0                                                20399.0
1961                                            12394.0                                                20864.0
1962                                            13378.0                                                22775.0
1963                                            14079.0                                                24494.0
1964                                            15262.0                                                26212.0

## Next dataset from 2009 to 2020 
### Assumed Federal Debt based on Fiscal Year End as of March every year. Data not provided for 2009, assumed value for Sept 2009 for that year only.

In [ ]:
canadian_fed_debt_new.head()

    REF_DATE     GEO           DGUID  ... SYMBOL TERMINATED  DECIMALS
0 2009-04-01  Canada  2016A000011124  ...    NaN        NaN         0
1 2009-04-01  Canada  2016A000011124  ...    NaN        NaN         0
2 2009-04-01  Canada  2016A000011124  ...    NaN        NaN         0
3 2009-04-01  Canada  2016A000011124  ...    NaN        NaN         0
4 2009-04-01  Canada  2016A000011124  ...    NaN        NaN         0

[5 rows x 15 columns]

In [ ]:
canadian_fed_debt_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3886 entries, 0 to 3885
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   REF_DATE                 3886 non-null   datetime64[ns]
 1   GEO                      3886 non-null   object
 2   DGUID                    3886 non-null   object
 3   Central government debt  3886 non-null   object
 4   UOM                      3886 non-null   object
 5   UOM_ID                   3886 non-null   int64
 6   SCALAR_FACTOR            3886 non-null   object
 7   SCALAR_ID                3886 non-null   int64
 8   VECTOR                   3886 non-null   object
 9   COORDINATE               3886 non-null   float64
 10  VALUE                    2388 non-null   float64
 11  STATUS                   1498 non-null   object
 12  SYMBOL                   0 non-null      float64
 13  TERMINATED               0 non-null      float64
 14  DECIMALS                 3886 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 455.5+ KB

In [ ]:
fed_debt = canadian_fed_debt_new.loc[(canadian_fed_debt_new['Central government debt'] =='B. Net debt, (C - D)') | (canadian_fed_debt_new ['Central government debt'] == 'C. Liabilities, gross debt')]

fed_debt.head(12)

      REF_DATE     GEO           DGUID  ... SYMBOL TERMINATED  DECIMALS
1   2009-04-01  Canada  2016A000011124  ...    NaN        NaN         0
2   2009-04-01  Canada  2016A000011124  ...    NaN        NaN         0
30  2009-05-01  Canada  2016A000011124  ...    NaN        NaN         0
31  2009-05-01  Canada  2016A000011124  ...    NaN        NaN         0
59  2009-06-01  Canada  2016A000011124  ...    NaN        NaN         0
60  2009-06-01  Canada  2016A000011124  ...    NaN        NaN         0
88  2009-07-01  Canada  2016A000011124  ...    NaN        NaN         0
89  2009-07-01  Canada  2016A000011124  ...    NaN        NaN         0
117 2009-08-01  Canada  2016A000011124  ...    NaN        NaN         0
118 2009-08-01  Canada  2016A000011124  ...    NaN        NaN         0
146 2009-09-01  Canada  2016A000011124  ...    NaN        NaN         0
147 2009-09-01  Canada  2016A000011124  ...    NaN        NaN         0

[12 rows x 15 columns]

In [ ]:
# select columns wanted
fed_debt = fed_debt.loc[:, ['REF_DATE', 'GEO', 'Central government debt', 'VALUE']]
fed_debt.head()

     REF_DATE     GEO     Central government debt  VALUE
1  2009-04-01  Canada        B. Net debt, (C - D)    NaN
2  2009-04-01  Canada  C. Liabilities, gross debt    NaN
30 2009-05-01  Canada        B. Net debt, (C - D)    NaN
31 2009-05-01  Canada  C. Liabilities, gross debt    NaN
59 2009-06-01  Canada        B. Net debt, (C - D)    NaN

In [ ]:
# add Year and Month Columns

fed_debt['Year'] = fed_debt['REF_DATE'].dt.year
fed_debt['Month'] = fed_debt['REF_DATE'].dt.month

fed_debt.head()

     REF_DATE     GEO     Central government debt  VALUE  Year  Month
1  2009-04-01  Canada        B. Net debt, (C - D)    NaN  2009      4
2  2009-04-01  Canada  C. Liabilities, gross debt    NaN  2009      4
30 2009-05-01  Canada        B. Net debt, (C - D)    NaN  2009      5
31 2009-05-01  Canada  C. Liabilities, gross debt    NaN  2009      5
59 2009-06-01  Canada        B. Net debt, (C - D)    NaN  2009      6

In [ ]:
# create dataframe for 2009 data not provided for March 2009 so using Sept 2009 as closest estimate
fed_debt_2009 = fed_debt.loc[(fed_debt['Year'] == 2009) & (fed_debt['Month']==9)]

# create dataframe for 2010 to 2020
fed_debt_2010_onwards = fed_debt.loc[fed_debt['Month']==3]

In [ ]:
# append both dataframes and drop all Columns except for Year and Value
fed_debt_new = fed_debt_2009.append(fed_debt_2010_onwards).drop(columns=['REF_DATE', 'Month', 'GEO'])

fed_debt_new.head()

        Central government debt     VALUE  Year
146        B. Net debt, (C - D)  553446.0  2009
147  C. Liabilities, gross debt  836957.0  2009
320        B. Net debt, (C - D)  574715.0  2010
321  C. Liabilities, gross debt  876083.0  2010
668        B. Net debt, (C - D)  616463.0  2011

In [ ]:
# create separate dataframes for net debt and gross debt 

fed_net_debt_new = fed_debt_new.loc[fed_debt_new['Central government debt']=='B. Net debt, (C - D)'].drop(columns='Central government debt').rename(columns={'VALUE':'Net federal government financial debt (million dollars)'})
fed_gross_debt_new = fed_debt_new.loc[fed_debt_new['Central government debt']=='C. Liabilities, gross debt'].drop(columns='Central government debt').rename(columns={'VALUE':'Gross federal government debt (million dollars)'})

# check type/class

print(type(fed_net_debt_new))
print(type(fed_gross_debt_new))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# merge the new dataframes 

fed_debt_2009andup = fed_net_debt_new.merge(fed_gross_debt_new, how='outer', on=['Year'], validate='1:1' ).set_index('Year')

fed_debt_2009andup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 2009 to 2020
Data columns (total 2 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Net federal government financial debt (million dollars)  12 non-null     float64
 1   Gross federal government debt (million dollars)          12 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

## Append archived data to latest data for federal debt

In [ ]:
fed_debt_year_df = fed_debt_arc_year.append(fed_debt_2009andup, verify_integrity=True)

fed_debt_year_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 1960 to 2020
Data columns (total 2 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Net federal government financial debt (million dollars)  61 non-null     float64
 1   Gross federal government debt (million dollars)          61 non-null     float64
dtypes: float64(2)
memory usage: 3.9 KB

# Merge all datasets to create one master dataframe

In [ ]:
fed_debt_year_df
Pop_year_df
GDP_year_df

merged_df = fed_debt_year_df.join(Pop_year_df)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 1960 to 2020
Data columns (total 3 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Net federal government financial debt (million dollars)  61 non-null     float64
 1   Gross federal government debt (million dollars)          61 non-null     float64
 2   Population Estimates                                     61 non-null     int64
dtypes: float64(2), int64(1)
memory usage: 4.4 KB

In [ ]:
# merge GDP dataset 

merged_df_final = merged_df.join(GDP_year_df, how='right')

merged_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1961 to 2020
Data columns (total 4 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Net federal government financial debt (million dollars)    60 non-null     float64
 1   Gross federal government debt (million dollars)            60 non-null     float64
 2   Population Estimates                                       60 non-null     int64
 3   Gross domestic product at market prices (million dollars)  60 non-null     int64
dtypes: float64(2), int64(2)
memory usage: 4.8 KB

In [ ]:
display(merged_df_final)

      Net federal government financial debt (million dollars)  ...  Gross domestic product at market prices (million dollars)
Year                                                           ...
1961                                            12394.0        ...                                              40672
1962                                            13378.0        ...                                              44696
1963                                            14079.0        ...                                              47668
1964                                            15262.0        ...                                              52652
1965                                            15748.0        ...                                              57364
1966                                            15381.0        ...                                              64428
1967                                            15866.0        ...                                              69584
1968                                            16713.0        ...                                              75408
1969                                            17396.0        ...                                              83876
1970                                            18095.0        ...                                              91460
1971                                            18581.0        ...                                              96388
1972                                            19328.0        ...                                             108256
1973                                            20123.0        ...                                             124860
1974                                            21580.0        ...                                             149424
1975                                            24769.0        ...                                             167572
1976                                            28573.0        ...                                             196288
1977                                            32629.0        ...                                             219892
1978                                            45846.0        ...                                             241296
1979                                            59040.0        ...                                             271352
1980                                            72555.0        ...                                             309756
1981                                            86280.0        ...                                             355992
1982                                            99600.0        ...                                             383004
1983                                           128302.0        ...                                             403236
1984                                           164532.0        ...                                             447840
1985                                           209891.0        ...                                             486096
1986                                           245151.0        ...                                             518612
1987                                           276735.0        ...                                             552484
1988                                           305438.0        ...                                             610948
1989                                           333519.0        ...                                             656160
1990                                           362920.0        ...                                             691928
1991                                           395075.0        ...                                             694008
1992                                           428682.0        ...                                             710008
1993                                           471061.0        ...                                             733952
1994                                           513219.0        ...                                             772656
1995                                           550685.0        ...                                             823972
1996                                           578718.0        ...                                             844208
1997                                           588402.0        ...                                             891748
1998                                           581581.0        ...                                             934612
1999                                           574468.0        ...                                             975240
2000                                           561733.0        ...                                            1070188
2001                                           545300.0        ...                                            1149924
2002                                           534690.0        ...                                            1158640
2003                                           526492.0        ...                                            1250088
2004                                           523648.0        ...                                            1296216
2005                                           523344.0        ...                                            1380324
2006                                           514099.0        ...                                            1476000
2007                                           508122.0        ...                                            1547276
2008                                           490412.0        ...                                            1637296
2009                                           553446.0        ...                                            1557232
2010                                           574715.0        ...                                            1644032
2011                                           616463.0        ...                                            1737952
2012                                           642866.0        ...                                            1815120
2013                                           670422.0        ...                                            1876844
2014                                           687644.0        ...                                            1963452
2015                                           682129.0        ...                                            1984300
2016                                           692965.0        ...                                            1998420
2017                                           715990.0        ...                                            2107708
2018                                           749306.0        ...                                            2202260
2019                                           768416.0        ...                                            2261964
2020                                           794426.0        ...                                            2275320

[60 rows x 4 columns]

# Add some Calculated Columns

In [ ]:
merged_df_final['Federal Net Debt per person (dollars)'] = merged_df_final['Net federal government financial debt (million dollars)'].div(merged_df_final['Population Estimates']).mul(1000000).round(2)
merged_df_final['Federal Gross Debt per person (dollars)'] = merged_df_final['Gross federal government debt (million dollars)'].div(merged_df_final['Population Estimates']).mul(1000000).round(2)
merged_df_final['Federal GDP per person (dollars)'] = merged_df_final['Gross domestic product at market prices (million dollars)'].div(merged_df_final['Population Estimates']).mul(1000000).round(2)
merged_df_final['Federal Net Debt as a percent of GDP (%)'] = merged_df_final['Net federal government financial debt (million dollars)'].div(merged_df_final['Gross domestic product at market prices (million dollars)']).mul(100).round(2)
merged_df_final['Federal Gross Debt as a percent of GDP (%)'] = merged_df_final['Gross federal government debt (million dollars)'].div(merged_df_final['Gross domestic product at market prices (million dollars)']).mul(100).round(2)
merged_df_final.head()

      Net federal government financial debt (million dollars)  ...  Federal Gross Debt as a percent of GDP (%)
Year                                                           ...
1961                                            12394.0        ...                                       51.30
1962                                            13378.0        ...                                       50.96
1963                                            14079.0        ...                                       51.38
1964                                            15262.0        ...                                       49.78
1965                                            15748.0        ...                                       46.79

[5 rows x 9 columns]

# Download merged dataframe

In [ ]:
merged_df_final.to_csv("Federal Debt, Population and GDP.csv", sep=",", index=True)
files.download("Federal Debt, Population and GDP.csv")